<div style="text-align:center">

<img id="img_box" style="width: 200px;max-height: 200px;cursor: pointer;background:skyblue"
     src=""/>

<form action="image" method="post" enctype="multipart/form-data" id="uploadForm" style="display: none">
  <input type="file" name="image">
</form>

<br>
<br>

<table>
    <tr>
        <td><img src=""/></td>
        <td><img src=""/></td>
        <td><img src=""/></td>
    </tr>
</table>

<script>
    $('#img_box').click(function () {
        $('[name="image"]').trigger('click');
    });
    $('[name="image"]').change(function () {
        $('#uploadForm').submit();
    });
</script>

</dev>
