<div style="text-align:center">

<img id="img_box" style="width: 200px;max-height: 200px;cursor: pointer;background:#99FF33"
     src=""/>

<%= form_tag("image/create", method: "post",
  :id => "uploadForm", :enctype => "multipart/form-data" ) do %>
  <input type="file" name="image" style="display:none">
<% end %>

<br>
<br>

<table>
    <tr>
        <td><%= image_tag() %></td>
        <td><img src="" alt=""/></td>
        <td><img src="" alt=""/></td>
    </tr>
</table>

<script>
    $('#img_box').click(function () {
        $('[name="image"]').trigger('click');
    });
    $('[name="image"]').change(function () {
        $('#uploadForm').submit();
    });
</script>

</dev>
